<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="PrinterIpAddress" value="192.168.250.150"/>
    <add key="PrinterPortAddress" value="17888"/>
    <add key="PrinterDeviceNo" value="94FB0300"/>

    <add key="PlcIpAddress" value="192.168.250.1"/>
    <add key="PlcPortAddress" value="30000"/>
    
    <!-- Image Library Detail-->
    <add key="SymbolLibraryDir" value=".\Resource\Library\SymbolLibrary.csv"/>
    <add key="SymbolPosLibraryDir" value=".\Resource\Library\SymbolPosLibrary.csv"/>
	<add key="SkuSymbolDir" value=".\Resource\Library\SkuSymbol.csv"/>
    
    <!-- Dynamic Text-->
    <add key="SkuLibraryDir" value=".\Resource\Library\SkuLibrary.csv"/>
    <add key="DynamicTextLength" value="20"/>
    
    <add key="WorkorderLibraryDir" value=".\Resource\WorkOrder\WorkOrder.csv"/>
    
  
  </appSettings>
</configuration>
